<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extend "base.html"%}
{% block body_block %}
<h3>Password Reset</h3>
<p></p>
<form method="post">
    {% csrf_token %}
    new password<input type="text" name="new_password1"><br>
    confrim passwrd<input type="text" name="new_password2">
    <input type="submit" value="change password">
</form>
{% else %}
<p>your password has been set.you may go head and log in now.</p>
<a href="{% url 'login'%}" classes="'btn btn-primary">log in</a>

    
</body>
</html>